{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ article.author.name }}" />
    <meta name="description" content="{{ article.summary|striptags }}" />
    <meta name="keywords" content="{{ article.tags|join(', ') }}">
    {% include "partial/og_tags.html" %}
{% endblock %}

{% block content %}

    <div class="fh5co-narrow-content article-content">
        <h1 class="fh5co-heading-colored">{{ article.title }}</h1>

        <div>{{ _('by') }}
            {% for author in article.authors %}
                <a href="{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %} - {{ article.locale_date }}
        - گروه : <a href="{{ article.category.url }}">{{ article.category }} </a> - مشاهده : {{ article.pageview}}</div>
        {% if article.tags %}
            <div><span>برچسب‌ها: </span>
                {% for tag in article.tags %}
                    <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a> </span>
                {% endfor %}
            </div>
        {% endif %}

        <div class="animate-box" data-animate-effect="fadeInLeft">
            <p class="animate-box" data-animate-effect="fadeInLeft">{{ article.content }}</p>
        </div>
		<div class="animate-box" data-animate-effect="fadeInLeft">
            <div>

			<h3><!-- <i class="icon-speech-bubble"></i>  -->{{ _('Comments') }}</h3>
		 
		
        {% for ct in COMMENTS %}
				{% if  ct.url == SITEURL+"/blog/"+article.date|strftime('%Y')+"/"+article.date|strftime('%m')+"/"+article.slug+".html" %}
				<p class="comment"><b>{{ct.name}} : </b> {{ ct.message }} </p> 
				{% endif %}
             
		{% endfor %}
		
    </div>
        </div>
    </div>

    {% include 'partial/staticman.html' %}

{% endblock %}
