{% if ABOUT|length > 0 %}

    <div id="diary_qoute">
        <div class="diary">
            
            <div class="row">
                <div class="animate-box" data-animate-effect="fadeInLeft">
                    <div class="wrapper">
                        <div class="fh5co-qoute">
                            {% if 'image' in ABOUT %}
                                <div class="fh5co-icon">
                                    <img class="about-image" src="{{ ABOUT.image }}" />
                                </div>
                            {% else %}
                                <div class="fh5co-icon">
                                    <i class="icon-mail"></i>
                                </div>
                            {% endif %}

                            <div class="fh5co-text">
                                

                                {% if 'text' in ABOUT %}
                                    {% if ABOUT.text is string %}
                                        <p>{{ ABOUT.text }}</p>
                                    {% elif DEFAULT_LANG in ABOUT.text %}
                                        <p>{{ ABOUT.text[DEFAULT_LANG] }}</p>
                                    {% endif %}

                                {% endif %}
                              
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}