
<div class="container">
	<div class="row">
    <div class="col-md-4 mb-4">
		<div class="form_main">
                <div class="form">
               <form method="POST" action="https://api.staticman.net/v2/entry/smbanaie/smbanaie.github.io/master/comments">
					<input name="options[redirect]" type="hidden" value="{{ SITEURL }}/blog/{{article.date|strftime('%Y')}}/{{article.date|strftime('%m')}}/{{article.slug}}.html">
					<input name="fields[url]" type="hidden" value="{{ SITEURL }}/blog/{{article.date|strftime('%Y')}}/{{article.date|strftime('%m')}}/{{article.slug}}.html">
                    <input type="text" required="" placeholder="نام" name="fields[name]"  class="txt">
                    <input type="email" required="" placeholder="ایمیل"  name="fields[email]" class="txt">
                    <textarea placeholder="نظر، انتقاد و پیشنهاد شما" name="fields[message]" type="text" class="txt_3" name="fields[message]"></textarea>
                    <input type="submit" value="ارسال" name="submit" class="txt2">
                </form>
            </div>
            </div>
            </div
	</div>
</div>
</div>

